<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.model2.mvc.service.category.CategoryDao">


	<resultMap id="categorySelectMap" type="category">
		<result property="categoryNo" column="ctgr_no" jdbcType="NUMERIC" />
		<result property="categoryName" column="ctgr_name" jdbcType="VARCHAR" />
		<result property="categoryDetail" column="ctgr_detail" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getCategory" parameterType="integer" resultMap="categorySelectMap">
		SELECT
		ctgr_no ,ctgr_name ,ctgr_detail
		FROM category
		WHERE ctgr_no=#{value:NUMERIC}
	</select>

	<!-- SQL : SELECT LIST -->
	<sql id="getCategoryListUnit">
		SELECT
		ctgr_no ,ctgr_name ,ctgr_detail
		FROM category
		ORDER BY ctgr_no
	</sql>

	<select id="getCategoryList" resultMap="categorySelectMap">
		<include refid="getCategoryListUnit"/>
	</select>
	
	<insert id="addCategory" parameterType="category">
		INSERT INTO category 
		(ctgr_no, ctgr_name, ctgr_detail)
		VALUES
		(seq_category_ctgr_no.NEXTVAL,#{categoryName:VARCHAR},#{categoryDetail:VARCHAR})
	</insert>
	
	<update id="updateCategory" parameterType="category">
		UPDATE category
		SET ctgr_name=#{categoryName:VARCHAR},
		ctgr_detail=#{categoryDetail:VARCHAR}
		WHERE ctgr_no=#{categoryNo}
	</update>

</mapper>